@model List<Producto>

<table class="table">
    <thread>

        <tr>
            <th>Nombre</th>
        </tr>


    </thread>
    <tbody>
        @foreach (var Producto in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => Producto.Nombre)</td>
            </tr>
        }

    </tbody>




</table>